/* Reset */

* {
    margin: 0;
    pad: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}


/* Main */

main {

    border: 1px solid red;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}


/* Products hover */

.row {
    margin-top: 1em;
}

.container {
    display: inline-block;
    width: calc(100% / 3 - 4px);
    position: relative;
}

.normal {
    width: 100%;
}

.none {
    width: 100%;
    display: none;
}

.container:hover .none {
    display: inline-block;
}

.container:hover .normal {
    display: none;
}


/* Hearts */

#heart {
    display: inline-block;
    position: absolute;
    background-color: white;
    padding: .5em;
    top: 1em;
    right: 0;
}

/* Tag sconto/sostenibile */

.tag {
    display: inline-block;
    padding: 4px 5px;
    color: white;
    font-size: 9px;
    font-weight: bold;
}

.discount {
    background-color: #EB0037;
}

.sostenibile {
    background-color: #00875A;
}

.tags {
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 4em;
}




footer {
    height: 3em;
}