/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}


/* Main */

main {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}


/* Products hover */

.row {
    margin-top: 1em;
}

.container {
    display: inline-block;
    width: calc(100% / 3 - 4px);
    position: relative;
    cursor: pointer;
}

.normal {
    width: 100%;
}

.none {
    width: 100%;
    display: none;
}

.container:hover .none {
    display: inline-block;
    z-index: -1;
    background: white;
    height: 100%;
    width: 100%;
    opacity: 0.6; 
}

.container:hover .normal {
    display: none;
}


/* Hearts */

#heart {
    display: inline-block;
    position: absolute;
    background-color: white;
    padding: .5em;
    top: 1em;
    right: 0;
}

#heart:hover {
    color: red;
}

/* Tag sconto/sostenibile */

.tag {
    display: inline-block;
    padding: 4px 5px;
    color: white;
    font-size: 9px;
    font-weight: bold;
}

.discount {
    background-color: #EB0037;
}

.sostenibile {
    background-color: #00875A;
}

.tags {
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 4em;
}


/* Footer */

footer {
    height: 3em;
}

.brand {
    font-size: 9px;

}

.description{
    font-weight: bold;
    font-size: 12px;
}

.price {
    display: inline-block;
    font-size: 9px;
}

.red {
    color: red;
    font-weight: bold;
}

.canceled {
    text-decoration: line-through;
}